{% extends "Beat/base.html" %}
{% load i18n %}
{% block title %}
    Cart
{% endblock %}

{% block beat %}
    {% include "includes/switch_lang.html" %}
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">{% trans "Название"%}</th>
            <th scope="col">{% trans "Цена"%}</th>
            <th scope="col">{% trans "Удалить"%}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with item.beat as beat %}
            <tr>
                <td>{{ beat.name}}</td>
                <td>{{ beat.price }}</td>
                <td><a href="{% url "remove_from_cart" beat.id %}">{% trans "Удалить"%}</a></td>
            </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
        <tr>
            <td>In total - {{ cart.get_total_price }}$</td>
            <td>
                {% if cart|length == 1%}
                    Beat - {{ cart|length }}
                {% else %}
                    Beats - {{ cart|length }}
                {% endif %}

            </td>
        </tr>
    </table>
    {% if cart|length >= 1 %}
        <a href="{% url "create_order" %}">Checkout</a>
    {% endif %}
{% endblock %}
