{% extends "Beat/base.html" %}
{% load i18n %}
{% block title %}Главная страница{% endblock %}
{% block beat %}
    {% include "includes/switch_lang.html" %}
    {% for beat in beat_list %}
        <h3>{{ beat.name }}</h3>
        <h5>{{ beat.bpm }} BPM</h5>
        <p>{{ beat.price }}</p>
        <audio>
            <source src="{{ beat.file.url }}">
        </audio>
        <form action="{% url "add_to_cart" beat.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <button type="submit">Добавить в корзину</button>
        </form>
        {% include "includes/pagination.html" %}
    {% endfor %}

{% endblock %}